@{
    ViewBag.Title = "Home Page";
}

@model ValoresNotas

<head>
    <style>
        body{
            width:100%;
        }
        .header {
            color: black;
            text-align: justify;
            text-decoration: overline;
            font-size: x-large;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .deposit, .withdraw {
            background-color: rgb(230 , 230 , 208 );
            padding: 15px;
            border: 3px groove rgb(51, 51, 51);
            border-radius: 5px;
        }

        table {
            border-collapse: inherit;
            border: 2px solid black;
            border-radius: 7px;
            padding: 2px;
            background-color: rgb(240, 240, 240);
        }

        th {
            background-color: black;
            padding: 3px;
            color: rgb(255, 255, 255);
            width: 150px;
            text-align: center;
        }
        .thRight{
            border-top-right-radius:5px;
        }
        .thLeft {
            border-top-left-radius: 5px;
        }

        button {
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 3px 0 rgba(0,0,0,0.19);
            border: none;
            padding: 3px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: rgb(40, 40, 40);
            margin: 4px 2px;
            cursor: pointer;
            background-color: rgb(150, 150, 150);
            border-radius: 3px;
            border: 0.5px solid #858585;
        }
        .logout {
            border: 2px solid rgb(131, 131, 131);
            padding: 2px 7px;
            background-color: rgb(51, 51, 51);
            color: white;
            border: 0.5px solid black;
        }

        input {
            border-radius: 5px;
            border-color: black;
        }
        .transation {
            color: black;
            background-color: white;
            border: 2px solid black;
            border-radius: 12px;
            padding: 6px;
        }

        .balance {
            font-size: medium;
            font-style: italic;
            font-weight: 500;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif font-weight: 600;
            color: rgb(49, 49, 49);
            border: 3px groove rgb(51, 51, 51);
            padding: 3px;
            background-color:white;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
</head>
<body>
    
    <div class="header">
        WEB CASH MACHINE
        <form action="LogOut" class="Menu">
            <button class="logout">LogOut</button>
        </form>
    </div>
    <div class="deposit">
        <div>
            <h3>Deposito</h3>
        </div>
        <form id="formDep" method="POST" runat="server">
            <div>
                <label for="ValorDeposita">Deposite o valor:</label>
                <input type="text" id="ValorDeposita" name="valorDep" placeholder="Insira aqui" />
            </div>
        </form>
        <button id="Depositar">Depositar</button>
        <div>
            <br>
            <p class="balance">Saldo total: <b id="saldoTotal" style="color:darkgreen">@Model.SaldoFinal</b></p>
        </div>
    </div>
    <div class="withdraw">
        <div>
            <h3>Saque</h3>
        </div>
        <form id="formWith" method="POST" runat="server">
            <div>
                <label for="ValorSaque">Valor a ser sacado:</label>
                <input type="text" id="ValorSaque" name="valorSaq" placeholder="Insira aqui" />
            </div>
        </form>
        <button id="Sacar">Sacar</button>
        <div>
            <h4>Notas</h4>
            <table>
                <tr>
                    <th class="thLeft">Valor Notas</th>
                    <th class="thRight">Quantidade</th>
                </tr>
                <tr>
                    <td>Nota de 100</td>
                    <td name="nota100" id="nota100" style="text-align:center">@Model.N100</td>
                </tr>
                <tr>
                    <td>Nota de 50</td>
                    <td name="nota50" id="nota50" style="text-align:center">@Model.N50</td>
                </tr>
                <tr>
                    <td>Nota de 20</td>
                    <td name="nota20" id="nota20" style="text-align:center">@Model.N20</td>
                </tr>
                <tr>
                    <td>Nota de 10</td>
                    <td name="nota10" id="nota10" style="text-align:center">@Model.N10</td>
                </tr>
                <tr>
                    <td>Nota de 5</td>
                    <td name="nota5" id="nota5" style="text-align:center">@Model.N5</td>
                </tr>
                <tr>
                    <td>Nota de 2</td>
                    <td name="nota2" id="nota2" style="text-align:center">@Model.N2</td>
                </tr>
            </table>
            <div>
                <br>
                <b class="transation" id="valid">
                    @Model.Valid
                </b>
                <!--Somente sinalizar se saque for inválido-->
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#Sacar").click(function(){
                $.ajax({
                    url: '@Url.Action("CalculaSaque")',
                    type: "POST",
                    dataType: "json",
                    data: {valorSaq: $("#ValorSaque").val()},
                    success: function(r){
                        console.log("Botão funcionou");
                        $("#nota100").html(r.n100);
                        $("#nota50").html(r.n50);
                        $("#nota20").html(r.n20);
                        $("#nota10").html(r.n10);
                        $("#nota5").html(r.n5);
                        $("#nota2").html(r.n2);
                        $("#saldoTotal").html(r.saldoFinal);
                        $("#valid").html(r.valid);
                    }
                })
            })
            $("#Depositar").click(function () {
                $.ajax({
                    url: '@Url.Action("DepositaValor")',
                    type: "POST",
                    dataType: "json",
                    data: { valorDep: $("#ValorDeposita").val() },
                    success: function (dep) {
                        console.log("Depositando");
                        $("#saldoTotal").html(dep.saldoFinal)
                    }
                })
            });
            $("#formDep").on("submit", function (event) {
                event.preventDefault();
            });
            $("#formWith").on("submit", function (event) {
                event.preventDefault();
            });
        })
    </script>
</body>