@{
    ViewBag.Title = "Home Page";
}

@model ValoresNotas

<head>
    <style>
        table {
            border-collapse: inherit;
            border: 2px solid black;
            padding: 2px;
        }
        th {
            background-color: black;
            color: white;
            width:150px;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h2>Caixa Eletrônico</h2>
    </div>
    <div>
        <br>
        <h4>Deposito</h4>
    </div>
    <form method="POST" runat="server">
        <div>
            <label for="ValorDeposita">Deposite o valor:</label>
            <input type="text" name="ValorDeposita" value="" placeholder="Insira aqui" />
        </div>
    </form>
    <button id="Depositar">Depositar</button>
    <div>
        <br>
        <p>Saldo total: <b>@Html.DisplayFor(modelItem => Model.SaldoFinal)</b></p>
    </div>
    <div>
        <br>
        <h4>Saque</h4>
    </div>
    <form method="POST" runat="server">
        <div>
            <label for="ValorSaque">Valor a ser sacado:</label>
            <input type="text" name="ValorSaque" id="ValorSaque" placeholder="Insira aqui" />
        </div>
    </form>
    <button id="Sacar">Sacar</button>
    <div>
        <h3>Notas</h3>
        <table>
            <tr>
                <th>Valor Notas</th>
                <th>Quantidade</th>
            </tr>
            <tr>
                <td>Nota de 100</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N100)</td>
            </tr>
            <tr>
                <td>Nota de 50</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N50)</td>
            </tr>
            <tr>
                <td>Nota de 20</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N20)</td>
            </tr>
            <tr>
                <td>Nota de 10</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N10)</td>
            </tr>
            <tr>
                <td>Nota de 5</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N5)</td>
            </tr>
            <tr>
                <td>Nota de 2</td>
                <td style="text-align:center">@Html.DisplayFor(modelItem => Model.N2)</td>
            </tr>
        </table>
        <div>
            <br>
            <b>@Html.DisplayFor(modelItem => Model.Valid)</b> 
            <!--Somente sinalizar se saque for inválido-->
        </div>
    </div>
    <script>
        $(document).ready(function{
            $("#Sacar").click(function () {
                $.ajax({
                    url: '@Url.Action("CalculaSaque")',
                    data: { value: $("#ValorSaque").val() },
                    contentType: "application/json",
                    sucess: function (r) {
                        console.log("testando");
                        $("nota100").html(r.nota100);
                        $("nota50").html(r.nota50);
                        $("nota20").html(r.nota20);
                        $("nota10").html(r.nota10);
                        $("nota5").html(r.nota5);
                        $("nota2").html(r.nota2);
                    }
                })
            })
        })
    </script>

</body>